.index-header {
  padding: 2em 0;
}

.index-header-searchbar > form .btn-flat {
  margin-left: 5px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 14px;
}

.card-collections:last-of-type {
 margin-bottom: 100px;
}

.category-header {
  margin-top: 40px;
  margin-bottom: 12px;
  color: $beige;
  font-weight: 700;
}

.card-category {
  position: relative;
  padding: 1.5rem clamp(1rem, 5%, 3rem);
  background-size: cover;
  flex-direction: column;
  color: white;
  font-size: 62px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  border: #9e9e9e 1px solid;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  background-position: top;
  background-size: cover;
}

// .card-category .blur {
  // backdrop-filter: blur(2px);
  // height: 100%;
  // width: 100%;
  // position: absolute;}

.card-collection {
  margin: 4em 0;
}


.card-top {
  flex-grow: 1;
  justify-content: center;
  align-items: end;
  display: flex;
}

.card-top, .card-bottom {
  z-index: 1;
}

.card-top a {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.card-bottom p {
  font-size: 24px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.btn-flat {
  color: $beige;
  padding: 8px 24px;
  border-radius: 4px;
  background: $faded-black;
  transition: background 0.3s ease;
  border: $beige 1px solid;
}

.btn-flat:hover {
  background: white;
  color: $faded-black;
  border: $beige 1px solid;
}
