// Specific CSS for your home-page
.stretched-link {
  text-decoration: none;
  color: black;
}

.subtitle-rate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}

.navbar + * {
  margin-top: 58px;
}

.navbar + .container {
  padding-top: 2em;
}

.container.home {
  padding-bottom: 100px;
}
