<div class="banner">
  <div class="container">
  <h1 class="mb-2">Spend a day with your favourite celebrity</h1>
  <%= link_to "Browse celebrities", celebrities_path, class: "btn btn-flat mt-2" %>
  </div>
</div>
