
<h1>Pages#home</h1>
<% if user_signed_in? %>
  <h2>Hi <%= current_user.email %></h2>
<% end %>
<p>Find me in app/views/pages/home.html.erb</p>

<%= render "homepage_cards" %>

<%= link_to "View all celebrities", celebrities_path %>
