footer {
  padding: 24px 0;
  color:#4b4c4d;
  margin-top: 42px;
  background-color: #2a29297d;
}

footer p {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
