.navbar-lewagon {
  justify-content: space-between;
  background: $beige;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
  font-family: 'Oleo Script', cursive;
  color: white;
  letter-spacing: 1.2px;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
}

.nav-link {
  font-size: 16px;
}
