img.celebrity-photo {
  width: 100%;
  max-height: 600px;
  height: 600px;
  object-fit: cover;
  object-position: top;
}

.celeb-name {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 32px;
}

.celebrity-title {
  margin-bottom: 0;
  flex-grow: 1;
}

.celeb-pricing {
  display: flex;
  gap: 8px;
  align-items: center;
}

.grow {
  margin-bottom: 0;
  flex-grow: 1;
  font-size: 32px;
}

.celeb-info {
  font-size: 20px;
}

.btn-xl {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 10px;
  width:50%;    //Specify your width here
}

.category-show {
  margin-top: 0px;
  margin-bottom: 12px;
  color: $beige;
  font-weight: 700;
}

hr {
  color: $beige;
}

.editing a {
  color: white;
}

.card-review {
  color: black;
  border-radius: 5px;
  background-color: $faded-black;
  border-style: solid;
  border-color: $beige;
  color: white;
  display: flex;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  margin-bottom: 12px;
}

.review-title {
  display: flex;
  gap: 8px;
}

.fas {
  color: white;
  margin-bottom: 0;
}

.fas:hover {
  color: rgb(255, 0, 0);
}
