.celeb-name {
  display: flex;
  gap: 8px;
  align-items: center;
}

.celebrity-title {
  margin-bottom: 0;
  flex-grow: 1;
}

.celeb-pricing {
  display: flex;
  gap: 8px;
  align-items: center;
}

.grow {
  margin-bottom: 0;
  flex-grow: 1;
}

.btn .btn-success {
  width: 40px;
}
